body {
    margin: 60px auto;
    width: 50%;
    background-color: #222;
}
nav ul, footer ul {
    font-family:'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffd700;
}
a:hover {
    color: #999;
}
h1 {
    font-size: 2em;
    font-family:'Arial';
    color: #fff
}
p {
    font-size: 1em;
    font-family: 'Arial';
    line-height: 1.4em;
    color: #FFFFE0;
}
footer {
    border-top: 1px solid #DCDCDC;
    font-size: .8em;
    color: #999;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}