body {
    margin: auto;
    background-color: #eee;
    width: 80%;
}
.container {
    background-color: #fff;
    width: 100%;
    box-shadow: 5px 5px 30px #222;
    border-radius: 5px;
    padding: 30px;
}
nav ul, footer ul {
    font-family: Courier, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #5042f4;
}
a:hover {
    color: brown;
}
h1 {
    font-size: 2em;
    font-family: Helvetica, sans-serif;
}
p {
    font-size: 1em;
    font-family: Palatino, serif;
    line-height: 1.4em;
}
footer {
    padding: 10px;
    font-size: .8em;
    color: #999;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}